.billingInfo {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 5, 12);
}
.billingTitle {
  color: rgb(6, 182, 6);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

input {
  height: 10px;
  width: 300px;
  border-radius: 20px;
  outline: none;
  padding: 20px;
  font-size: 20px;
  margin: 20px;
}
.card {
  background-color: white;
  border-radius: 10px;
}

.loading {
  width: 100px;
  height: 100px;
  background-image: url("https://www.ecostudioxv.com/assets/images/loader.gif");
  background-size: cover;
}
