.background{
    color: rgb(6, 182, 6);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(3, 5, 12);
}

.rightSideSearchData{
    width: 80%;
    min-height: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.leftSideMenu{
    width: 20%;
    min-height: auto;
    color:rgb(6, 182, 6);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-style: solid;
    border-color: grey;
}

.listHeader{
    color: rgb(6, 182, 6);
    font-style: rgb(6, 182, 6);
}